


.mw-bs .main:first-of-type{
	margin-top:0;
}
.mw-bs .main{
	margin-bottom:0;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background:#000000;
}

.data-related{
	font-weight:500;
	color:#43A047;
}
#map-canvas {
	order: 1;
	flex: 0 1 100%;
	align-self: auto;
	height:300px;
	width: 100vw;
}
#ac-input {
	color:#000;
	width: 50%;
	height: 50px;
	padding: 10px;
	transform:translateY(15%);
}

#autocomplete-input {
	color:#000;
}
